/**
 * Dashboard events feed
 *
 */
.event-item {
  font-size: $gl-font-size;
  padding: $gl-padding-top 0 $gl-padding-top ($gl-avatar-size + $gl-padding-top);
  border-bottom: 1px solid $table-border-color;
  color: #7f8fa4;

  &.event-inline {
    .avatar {
      position: relative;
      top: -2px;
    }

    .event-title,
    .event-item-timestamp {
      line-height: 40px;
    }
  }

  a {
    color: #4c4e54;
  }

  .avatar {
    margin-left: -($gl-avatar-size + $gl-padding-top);
  }

  .event-title {
    @include str-truncated(calc(100% - 174px));
    font-weight: 600;

    .author_name {
      color: #333;
    }
  }

  .event-body {
    margin-right: 174px;

    .event-note {
      word-wrap: break-word;

      .md {
        color: #7f8fa4;
        font-size: $gl-font-size;

        iframe.twitter-share-button {
          vertical-align: bottom;
        }
      }

      pre {
        border: none;
        background: #f9f9f9;
        border-radius: 0;
        color: #777;
        margin: 0 20px;
        overflow: hidden;
      }

      .note-image-attach {
        margin-top: 4px;
        margin-left: 0px;
        max-width: 200px;
        float: none;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
    .event-note-icon {
      color: #777;
      float: left;
      font-size: $gl-font-size;
      line-height: 16px;
      margin-right: 5px;
    }
  }
  .event_icon {
    position: relative;
    float: right;
    border: 1px solid #eee;
    padding: 5px;
    @include border-radius(5px);
    background: #f9f9f9;
    margin-left: 10px;
    top: -6px;
    img {
      width: 20px;
    }
  }

  &:last-child { border:none }

  .event_commits {
    li {
      &.commit {
        background: transparent;
        padding: 3px;
        padding-left: 0;
        border: none;
        .commit-row-title {
          font-size: $gl-font-size;
        }
      }

      &.commits-stat {
        margin-top: 3px;
        display: block;
        padding: 3px;
        padding-left: 0;

        &:hover {
          background: none;
        }
      }
    }
  }

  .event-item-timestamp {
    float: right;
    line-height: 22px;
  }
}


/*
 * Last push widget
 */
.event-last-push {
  overflow: auto;
  width: 100%;
  .event-last-push-text {
    @include str-truncated(100%);
    padding: 5px 0;
    font-size: 13px;
    float:left;
    margin-right: -150px;
    padding-right: 150px;
    line-height: 20px;
  }
}

@media (max-width: $screen-xs-max) {
  .event-item {
    padding-left: $gl-padding;

    .event-title {
      white-space: normal;
      overflow: visible;
      max-width: 100%;
    }
    .avatar {
      display: none;
    }

    .event-body {
      margin: 0;
      border-left: 2px solid #ddd;
      padding-left: 10px;
    }

    .event-item-timestamp {
      display: none;
    }
  }
}
