/**
 * File content holder
 *
 */
.file-holder {
  border: none;
  border: 1px solid $border-color;

  &.readme-holder {
    margin-top: 10px;
    border-bottom: 0;
  }

  table {
    @extend .table;
  }

  .file-title {
    position: relative;
    background: $background-color;
    border-bottom: 1px solid $border-color;
    margin: 0;
    text-align: left;
    padding: 10px $gl-padding;

    .file-actions {
      float: right;
      position: absolute;
      top: 5px;
      right: 15px;

      .btn {
        padding: 0px 10px;
        font-size: 13px;
        line-height: 28px;
      }
    }

    .filename {
      &.old {
        span.idiff {
          background-color: #f8cbcb;
        }
      }

      &.new {
        span.idiff {
          background-color: #a6f3a6;
        }
      }
    }

    .left-options {
      margin-top: -3px;
    }
  }
  .file-content {
    background: #fff;

    &.image_file {
      background: #eee;
      text-align: center;
      img {
        padding: 100px;
        max-width: 50%;
      }
    }

    &.wiki {
      padding: $gl-padding;

      .highlight {
        margin-bottom: 9px;

        > pre {
          margin: 0;
        }
      }
    }

    &.blob_file {

    }

    &.blob-no-preview {
      background: #eee;
      text-shadow: 0 1px 2px #fff;
      padding: 100px 0;
    }

    /**
     *  Blame file
     */
    &.blame {
      table {
        border: none;
        box-shadow: none;
        margin: 0;
      }
      tr {
        border-bottom: 1px solid #eee;
      }
      td {
        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
      }
      img.avatar {
        border: 0 none;
        float: none;
        margin: 0;
        padding: 0;
      }
      td.blame-commit {
        background: #f9f9f9;
        min-width: 350px;

        .commit-author-link {
          color: #888;
        }
      }
      td.line-numbers {
        float: none;
        border-left: 1px solid #ddd;
      }
      td.lines {
        padding: 0;
        code {
          font-family: $monospace_font;
        }
        pre {
          margin: 0;
        }
      }
    }

    &.logs {
      background: #eee;
      max-height: 700px;
      overflow-y: auto;

      ol {
        margin-left: 40px;
        padding: 10px 0;
        border-left: 1px solid $border-color;
        margin-bottom: 0;
        background: white;
        li {
          color: #888;
          p {
            margin: 0;
            color: #333;
            line-height: 24px;
            padding-left: 10px;
          }

          &:hover {
            background: $row-hover;
          }
        }
      }
    }

    /**
     *  Code file
     */
    &.code {
      padding: 0;
      -webkit-overflow-scrolling: auto; // See https://gitlab.com/gitlab-org/gitlab-ce/issues/13987
    }
  }
}

span.idiff {
  &.left {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  &.right {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}
